# Global monorepo ignores
**/.DS_Store
**/node_modules/
**/.deka/
**/.next/
**/.open-next/
**/target/
**/dist/
linkhash/**/.cache/
.cache/
**/.cache/
bench/last-results.json
bench/.toolchain/deka
bench/.toolchain/dsc
bench/.toolchain/version.txt
.cache/deka_js/
.ci/
scripts/.run-tmp/
tests/dump/.cache/
.php_modules/.cache
.php_modules/.phpx-cache-*
/testsuite/
/tour/
