[Unit]
Description=Tana Gild Vault socket

[Socket]
ListenStream=/run/gild-vault.sock
SocketMode=0660
SocketUser=gild-vault
SocketGroup=gild
RemoveOnStop=true

[Install]
WantedBy=sockets.target
